Checks: >
    readability-duplicate-include,
    readability-else-after-return,
    readability-magic-numbers,
    readability-math-missing-parentheses,
    readability-non-const-parameter,
    readability-redundant-casting,
    readability-redundant-control-flow,
    readability-redundant-declaration,
    readability-redundant-preprocessor,
    readability-function-size,
    readability-identifier-naming,
    bugprone-argument-comment,
    bugprone-branch-clone,
    bugprone-chained-comparison,
    bugprone-infinite-loop,
    bugprone-macro-parentheses,
    bugprone-macro-repeated-side-effects,
    bugprone-not-null-terminated-result,
    bugprone-redundant-branch-condition,
    bugprone-signal-handler,
    bugprone-suspicious-semicolon,
    bugprone-suspicious-memory-comparison,
    bugprone-suspicious-string-compare,
    bugprone-unused-return-value,
    bugprone-too-small-loop-variable,
    misc-unused-parameters,
    misc-confusable-identifiers,
    clang-analyzer-*

WarningsAsErrors: ''
SystemHeaders: false